<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.alias}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    {{member.city}}, {{member.country}}
                </div>
                <div *ngIf="member.displayAge == true">
                    <strong>Relationship Status:</strong>
                    {{member.relationshipStatus | titlecase}}
                </div>
                <div *ngIf="member.displayAge == true">
                    <strong>Age:</strong>
                    {{member.age}}
                </div>
                <p></p>
                <div>
                    <strong>Last Active:</strong>
                    {{member.lastActive}}
                </div>
                <div>
                    <strong>Profile Created:</strong>
                    {{member.created}}
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About">
                <div>
                    <strong>Gender Identity:</strong>
                    {{member.gender | titlecase}}
                </div>
                <div>
                    <strong>Sexual Orientation:</strong>
                    {{member.orientation | titlecase}}
                </div>
                <div>
                    <strong>Prounouns:</strong>
                    {{member.pronouns}}
                </div>
                <p></p>
                <div>
                    <h4>Interests:</h4>
                    {{member.interests}}
                </div>
                <p></p>
                <div>
                <h4>Looking For:</h4>
                    {{member.lookingFor}}
                </div>
                <p></p>
                <div>
                    <h4>Introduction:</h4>
                    {{member.introduction}}
                </div>
            </tab>
            <tab heading="Photos">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" 
                style="display: inline-block; margin-bottom: 20px;" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Messages">
                <p>Messages will go here</p>
            </tab>
        </tabset>
    </div>
</div>