<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Your Profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>You have made changes. Any unsaved changes will be lost.</strong>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.alias}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    {{member.city}}, {{member.country}}
                </div>
                <div *ngIf="member.displayAge == true">
                    <strong>Relationship Status:</strong>
                    {{member.relationshipStatus | titlecase}}
                </div>
                <div *ngIf="member.displayAge == true">
                    <strong>Age:</strong>
                    {{member.age}}
                </div>
                <p></p>
                <div>
                    <strong>Last Active:</strong>
                    {{member.lastActive}}
                </div>
                <div>
                    <strong>Profile Created:</strong>
                    {{member.created}}
                </div>
            </div>
            <div class="card-footer" *ngIf="editForm.dirty">
                <div class="btn-group d-flex">
                    <button form="editForm" class="btn btn-success btn-block">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <div class = "form-inline mt-1">
                        <label for="genderIdentity">Gender Identity: </label>
                        <input [(ngModel)]="member.gender" type="text" name="genderIdentity" 
                        class="form-control mx-2" value="{{member.gender | titlecase}}">
                    </div>
                    
                    <div class = "form-inline mt-1">
                        <label for="sexualOrientation">Sexual Orientation: </label>
                        <input [(ngModel)]="member.orientation" type="text" name="sexualOrientation" 
                        class="form-control mx-2" value="{{member.orientation | titlecase}}">
                    </div>
                    
                    <div class = "form-inline mt-1">
                        <label for="pronouns">Prounouns: </label>
                        <input [(ngModel)]="member.pronouns" type="text" name="pronouns" 
                        class="form-control mx-2" value="{{member.pronouns}}">
                    </div>
                    
                    <div class = "form-inline mt-3">
                        <label for="city">City: </label>
                        <input [(ngModel)]="member.city" type="text" name="city" 
                        class="form-control mx-2" value="{{member.city}}">
                        
                        <label for="country">Country: </label>
                        <input [(ngModel)]="member.country" type="text" name="country" 
                        class="form-control mx-2" value="{{member.country}}">
                    </div>

                    <h4 class="mt-3">Interests:</h4>
                    <textarea class="form-control" [(ngModel)]="member.interests" name="interests" 
                    rows="6" value="{{member.interests}}"></textarea>

                    <h4 class="mt-3">Looking For:</h4>
                    <textarea class="form-control" [(ngModel)]="member.lookingFor" name="lookingFor" 
                    rows="6" value="{{member.lookingFor}}"></textarea>

                    <h4 class="mt-3">Introduction:</h4>
                    <textarea class="form-control" [(ngModel)]="member.introduction" name="introduction" 
                    rows="6" value="{{member.introduction}}"></textarea>
                </form>
            </tab>
            <tab heading="Edit Photos">
                <app-photo-editor [member]="member"></app-photo-editor>
            </tab>
        </tabset>
    </div>
</div>